@import "./variables";

.container {
  width: $content-width;
  margin: auto;
  height: 100vh;
}

.header {
  width: 100%;
  font-size: $large-font-size;
  text-align: center;
}

.post-list {
  width: 100%;
}

.post-item {
  display: flex;
  height: 100px;
  margin: 5em 0;

  &--image {
    flex: 1;
  }

  &--detail {
    flex: 3;
    display: flex;
    flex-direction: column;
  }

  &--detail-title {
    font-size: $medium-font-size;
  }
  &--detail-number {
    display: flex;
    flex-direction: row;
  }
}
